head
{
}

body
{
	margin: auto;
	max-width: 48em;
}

h1, h2, h3
{
	font-size: 100%;
}

h1
{
	font-weight: normal;
	text-align: center;

	margin-bottom: -6em;
}

h2
{
	font-weight: bold;

	margin-top: 8em;
}

h3
{
	font-weight: normal;
	text-decoration: underline;
	margin-left: 2em;
}

table
{
	width: 100%;
}

th.heading
{
	text-align: left;
}

td
{
	background: #ddd;
	border: .5em solid transparent;
}
