<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Gentoo CI - QA check results</title>
		<link rel="stylesheet" type="text/css" href="/pkgcheck2html.css" />
	</head>

	<body>
		<h1>QA check results</h1>

		{% if errors or warnings or staging %}
			<div class="nav">
				<h2>issues</h2>

				<ul>
					{% for g, pkgs in errors %}
						<li class="err heading">{{ g }}</li>
						{% for pkg in pkgs %}
							<li class="err"><a href="#{{ pkg|join('/') }}">{{ pkg|join('/') }}</a></li>
						{% endfor %}
					{% endfor %}
					{% for g, pkgs in warnings %}
						<li class="warn heading">{{ g }}</li>
						{% for pkg in pkgs %}
							<li class="warn"><a href="#{{ pkg|join('/') }}">{{ pkg|join('/') }}</a></li>
						{% endfor %}
					{% endfor %}
					{% for g, pkgs in staging %}
						<li class="staging heading">{{ g }}</li>
						{% for pkg in pkgs %}
							<li class="staging"><a href="#{{ pkg|join('/') }}">{{ pkg|join('/') }}</a></li>
						{% endfor %}
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		<div class="content">
			<table>
				{% for g, r in results %}
					{% set h2_id = g[0] if g else "global" %}
					<tr><th colspan="3" class="h2" id="{{ h2_id }}">
						{{ g[0] if g else "Global-scope results" }}
						<small><a href="#{{ h2_id }}">¶</a></small>
					</th></tr>

					{% for g, r in r %}
						{% if g[0] %}
							{% set h3_id = g[0] + "/" + g[1] if g[1] else "_cat" %}
							<tr><th colspan="3" class="h3" id="{{ h3_id }}">
								{{ g[1] if g[1] else "Category results" }}
								<small><a href="#{{ h3_id }}">¶</a></small>
							</th></tr>
						{% endif %}

						{% for g, r in r %}
							{% for rx in r %}
								{% set class_str = "" %}
								{% if rx.css_class %}
									{% set class_str = ' class="' + rx.css_class + '"' %}
								{% endif %}
								<tr{{ class_str }}>
									<td>{{ g[2] if loop.index == 1 else "" }}</td>
									<td>{{ rx.class }}</td>
									<td>{{ rx.msg|escape }}</td>
								</tr>
							{% endfor %}
						{% endfor %}
					{% endfor %}
				{% endfor %}
			</table>
		</div>

		<address>Generated based on results from: {{ ts.strftime("%F %T UTC") }}</address>
	</body>
</html>

<!-- vim:se ft=jinja : -->
